<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

  <h1>Hello Bhushan</h1>
<form action="/analyze" method="get">
<textarea name="text" style="margin: 0px; height: 254px; width: 1295px;"></textarea><br>
<input type="checkbox" name="removepunc"> Remove Punctuations<br>
<input type="checkbox" name="capital"> Capitalition<br>
<input type="checkbox" name="newlineremove"> New line remover<br>
<input type="checkbox" name="extraspaceremove"> Extra Space remover<br>
<input type="checkbox" name="count"> Char Count<br>

<input type="submit">
</form>
</body>
</html>